@model IEnumerable<dynamic>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Location</title>
</head>
<body>

    <div>
        <a href="@Url.Content("~/Home/Index")">
            <button>Go Home</button>
        </a>
    </div>

    <h1>Users</h1>
    <table border="1">
        <thead>
            <tr>
                <th>MAC Address</th>
                <th>Distance to Wiliboxas1</th>
                <th>Distance to Wiliboxas2</th>
                <th>Distance to Wiliboxas3</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Mac</td>
                    <td>@user.Wiliboxas1</td>
                    <td>@user.Wiliboxas2</td>
                    <td>@user.Wiliboxas3</td>
                    <td>
                        <a href="@Url.Action("Location", "User", new { macAddress = user.Mac })">
                            <button>Find Measurement</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
